In [28]:
import pandas as pd
import requests
url = 'https://randomuser.me/api?results=100&gender=male'
r = requests.get(url)
json = r.json()
json.keys()

dict_keys(['results', 'info'])

In [19]:
json['results']

[{'gender': 'male',
  'name': {'title': 'Mr', 'first': 'Lance', 'last': 'Hale'},
  'location': {'street': {'number': 2056, 'name': 'Wheeler Ridge Dr'},
   'city': 'Altoona',
   'state': 'New Mexico',
   'country': 'United States',
   'postcode': 79792,
   'coordinates': {'latitude': '86.9835', 'longitude': '-3.7178'},
   'timezone': {'offset': '+6:00', 'description': 'Almaty, Dhaka, Colombo'}},
  'email': 'lance.hale@example.com',
  'login': {'uuid': '95c3f09c-ab3c-4e8e-a073-0a9245ffcb73',
   'username': 'heavyduck106',
   'password': '1021',
   'salt': 'NToW4F4k',
   'md5': '8d18ebbad2ddfc93c01aa87a8ec8c61c',
   'sha1': '0f2c72f561c642814e6bde376873cab459502d3c',
   'sha256': 'a9191c5f169887ec24c219529bf2271feac1e01d31e91ff61b930ec0ae4ab1bc'},
  'dob': {'date': '1983-02-20T23:25:53.533Z', 'age': 39},
  'registered': {'date': '2014-01-28T01:34:54.209Z', 'age': 9},
  'phone': '(439) 976-4135',
  'cell': '(584) 448-5537',
  'id': {'name': 'SSN', 'value': '117-11-7646'},
  'picture': {'large': 'https://randomuser.me/api/portraits/men/16.jpg',
   'medium': 'https://randomuser.me/api/portraits/med/men/16.jpg',
   'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/16.jpg'},
  'nat': 'US'}]

In [29]:
df=pd.DataFrame(json['results'])
df

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
0,male,"{'title': 'Mr', 'first': 'Goricvit', 'last': '...","{'street': {'number': 2937, 'name': 'Velika Ok...",goricvit.matkovskiy@example.com,{'uuid': '8741b79b-d17e-4517-bce9-5db1f43e7461...,"{'date': '1964-12-04T00:06:09.580Z', 'age': 58}","{'date': '2019-05-05T17:51:29.738Z', 'age': 3}",(066) Z22-8424,(066) Q17-7610,"{'name': '', 'value': None}",{'large': 'https://randomuser.me/api/portraits...,UA
1,male,"{'title': 'Mr', 'first': 'Emiliano', 'last': '...","{'street': {'number': 1021, 'name': 'Corredor ...",emiliano.saiz@example.com,{'uuid': 'bca10a3c-018a-4cc0-ab4f-1490a3346da9...,"{'date': '1962-05-06T08:14:09.831Z', 'age': 60}","{'date': '2010-05-13T21:32:17.715Z', 'age': 12}",(665) 199 8912,(615) 830 7650,"{'name': 'NSS', 'value': '84 45 81 5361 0'}",{'large': 'https://randomuser.me/api/portraits...,MX
2,male,"{'title': 'Mr', 'first': 'Tyler', 'last': 'Rey...","{'street': {'number': 7198, 'name': 'New Road'...",tyler.reynolds@example.com,{'uuid': 'fef2338d-51ca-480c-a78d-3859107fbfb7...,"{'date': '1965-12-14T09:54:03.165Z', 'age': 57}","{'date': '2014-06-12T16:32:59.746Z', 'age': 8}",0117537 758 8524,07728 222702,"{'name': 'NINO', 'value': 'CR 88 24 96 V'}",{'large': 'https://randomuser.me/api/portraits...,GB
3,male,"{'title': 'Mr', 'first': 'Alex', 'last': 'Dupu...","{'street': {'number': 7333, 'name': 'Rue Victo...",alex.dupuis@example.com,{'uuid': '152b70ba-4d32-4269-b128-18548f3686bd...,"{'date': '1962-01-12T00:36:21.899Z', 'age': 61}","{'date': '2018-01-29T12:47:27.525Z', 'age': 5}",04-40-03-82-20,06-39-48-98-93,"{'name': 'INSEE', 'value': '1620033199110 29'}",{'large': 'https://randomuser.me/api/portraits...,FR
4,male,"{'title': 'Mr', 'first': 'Branislav', 'last': ...","{'street': {'number': 2029, 'name': 'Kriljevsk...",branislav.mihajlovic@example.com,{'uuid': 'b85bb9de-947f-4a24-b994-24887bce9ddc...,"{'date': '1970-05-12T11:31:41.579Z', 'age': 52}","{'date': '2015-09-02T04:13:07.800Z', 'age': 7}",016-3216-583,066-7750-368,"{'name': 'SID', 'value': '831673382'}",{'large': 'https://randomuser.me/api/portraits...,RS
...,...,...,...,...,...,...,...,...,...,...,...,...
95,male,"{'title': 'Mr', 'first': 'Uriel', 'last': 'Lim...","{'street': {'number': 6646, 'name': 'Continuac...",uriel.limon@example.com,{'uuid': 'c6592128-1de4-42be-8078-2623fec7144b...,"{'date': '1962-11-28T16:52:58.183Z', 'age': 60}","{'date': '2003-07-10T17:23:38.297Z', 'age': 19}",(668) 399 7718,(669) 762 8290,"{'name': 'NSS', 'value': '29 68 30 9689 0'}",{'large': 'https://randomuser.me/api/portraits...,MX
96,male,"{'title': 'Mr', 'first': 'Shivansh', 'last': '...","{'street': {'number': 5794, 'name': 'Lindsay S...",shivansh.prabhakaran@example.com,{'uuid': '00d7a93c-a9b7-436c-87f9-5b9be992afa7...,"{'date': '1984-08-26T23:51:13.218Z', 'age': 38}","{'date': '2011-04-20T03:21:00.588Z', 'age': 11}",9021256151,7354663207,"{'name': 'UIDAI', 'value': '198685207931'}",{'large': 'https://randomuser.me/api/portraits...,IN
97,male,"{'title': 'Mr', 'first': 'Malvin', 'last': 'Sl...","{'street': {'number': 9036, 'name': 'Prinsdals...",malvin.sleire@example.com,{'uuid': '2c9fdc5b-5c3a-4db8-881a-0e7a7d9c0e9f...,"{'date': '1997-01-02T23:17:50.924Z', 'age': 26}","{'date': '2022-03-13T13:30:52.727Z', 'age': 0}",68076024,49419649,"{'name': 'FN', 'value': '02019708597'}",{'large': 'https://randomuser.me/api/portraits...,NO
98,male,"{'title': 'Mr', 'first': 'Arin', 'last': 'Kaur'}","{'street': {'number': 9164, 'name': 'MG Rd Ban...",arin.kaur@example.com,{'uuid': '8830aa0c-0fa2-4365-96d3-db0467636597...,"{'date': '1964-10-21T02:59:03.300Z', 'age': 58}","{'date': '2007-10-21T05:24:11.746Z', 'age': 15}",9975554746,7593901752,"{'name': 'UIDAI', 'value': '209379385713'}",{'large': 'https://randomuser.me/api/portraits...,IN
99,male,"{'title': 'Mr', 'first': 'Lucas', 'last': 'Ort...","{'street': {'number': 5065, 'name': 'Avenida d...",lucas.ortega@example.com,{'uuid': '61f01c7e-cbd4-4c1c-bc91-df14199f2f17...,"{'date': '1986-10-19T04:01:31.387Z', 'age': 36}","{'date': '2007-03-24T13:01:31.629Z', 'age': 15}",982-718-646,668-349-699,"{'name': 'DNI', 'value': '33520134-N'}",{'large': 'https://randomuser.me/api/portraits...,ES